<div class="container">
    <div class="home_page">
        <div class="home_wapper row">
            <div class="left_wrp col-md-5">
                <h2 class="heading-title m-0">Hi there!</h2>
                <h1 class="mb-3 text-light typingtext">I'M <span class="typed-text"></span><span class="cursor blink">&nbsp;</span></h1>
                <p class="text-light selfline">I’m a Freelance UI/UX Designer and Developer based
                    in Delhi, India. I strives to build immersive and
                    beautiful web applications through carefully crafted
                    code and user-centric design.</p>
                <button routerLink="/contactUs" class="comnbtn">Contect with Me</button>
            </div>
            <div class="right_wrp col-md-8">
                <img src="assets/img/portfol.png" alt="">
            </div>
        </div>
    </div>
</div>